body {
  
}

p {
  color: red;
}


#content-name {
  margin: auto;
  padding: 0 0 10px 0;
  font-size: 84px;
  font-weight: bold;
  color: white;
  font: Verdana, serif;
  text-align: center;
  background: url("https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"), position:absolute, top:-40px, left:0px; 
  
}
